* {
  font-family: Helvetica, sans-serif;
}

div {
  background-color: rgb(96, 101, 101);
  max-width: 600px;
  margin: 0 auto 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

.form {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input {
  padding: 5px;
}
